/* Tags */

#head-tags{
    margin-left:1em;  
    margin-top:1em;
}
  
#body .tags a.tag-link {
    display: inline-block;
    line-height: 2em;
    font-size: 0.8em;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: #8451a1;    
    
    -webkit-border-bottom-right-radius: 3px;    
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;    
    border-top-right-radius: 3px;

    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    color: #fff;
}
  
#body .tags a.tag-link:before {
    content: "";
    position: absolute;
    top:0;
    left: -1em;
    width: 0;
    height: 0;
    border-color: transparent #8451a1 transparent transparent;
    border-style: solid;
    border-width: 1em 1em 1em 0;        
}
  
#body .tags a.tag-link:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background: #fff;    
}
