<center>
    <!-- Place this tag where you want the button to render. -->
<!--
    <a class="github-button" href="https://github.com/matcornic/hugo-theme-learn/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download matcornic/hugo-theme-learn on GitHub">Download</a>
-->
    <!-- Place this tag where you want the button to render. -->
<!--
    <a class="github-button" href="https://github.com/matcornic/hugo-theme-learn" data-icon="octicon-star" data-show-count="true" aria-label="Star matcornic/hugo-theme-learn on GitHub">Star</a>
-->

    <!-- Place this tag where you want the button to render. -->
<!--
    <a class="github-button" href="https://github.com/matcornic/hugo-theme-learn/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork matcornic/hugo-theme-learn on GitHub">Fork</a>
-->

    <p>Gebaut mit <i class="fas fa-heart"></i> und <a href="https://gohugo.io/">Hugo</a> basierend auf <a href="themes.gohugo.io/theme/hugo-theme-learn/">Learn Theme</a> </p>
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
